body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
  }

  .main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 220px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 20px 20px 50px 20px rgba(125, 124, 124, 0.010);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
  }

  img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
  }

  .strong-text {
    font-weight: 700;
    margin-top: 20px;
    font-size: 15px;
    padding: 0px 15px;
  }

  .small-text {
    color: hsl(210, 1%, 49%);
    margin-top: 0px;
    font-weight: 400;
    font-size: 12px;
    padding: 0px 10px
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }